consultasRef/static/img/productos
consultasRef/static/img/ProductosRaiz
consultasRefTest

# Ignorar archivos específicos
*.log
*.env
secret.txt

# Ignorar la carpeta de entornos virtuales de Python
venv/