<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventarios - VP PLASDECOR</title>
    <link rel="shortcut icon" href="/static/img/icono.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/estilosInv.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/js/tailwind.js"></script>
</head>
<body class="flex flex-col justify-center items-center relative overflow-x-auto bg-white max-h-full h-full bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]">
    <h1 class="sticky text-4xl text-center font-bold mt-6 mb-4">INVENTARIOS PLASDECOR</h1>
    
    <div style="width: 98%; margin: auto;" class="shadow-md overflow-x-none sm:rounded-lg">
        <div class="sticky top-0 flex gap-3 items-center p-2 w-full bg-white overflow-x-auto overflow-y-auto flex-column md:flex-row flex-wrap">
            <div class="bg-white">
                <label for="buscar" class="block mb-2 text-sm font-medium text-gray-900">Referencia</label>
                <div class="relative mt-1">
                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="text" id="buscar" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Buscar referencia">
                </div>
            </div>
            <div class="searchable-select w-80">
                <label for="proveedores" class="block mb-2 text-sm font-medium text-gray-900">Proveedor</label>
                <select id="proveedores" onchange="buscarDatos(1, 50);" style="padding: 6px 4px; border: none; outline: none;" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <!-- <option value="">TODOS</option> -->
                </select>
            </div>
            <div class="searchable-select w-80">
                <label for="lineas" class="block mb-2 text-sm font-medium text-gray-900">Linea</label>
                <select id="lineas" onchange="buscarDatos(1, 50);" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">TODOS</option>
                </select>
            </div>
            <div class="searchable-select w-80">
                <label for="subgrupos" class="block mb-2 text-sm font-medium text-gray-900">Subgrupo</label>
                <select id="subgrupos" onchange="buscarDatos(1, 50);" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">TODOS</option>
                </select>
            </div>
            <div class="searchable-select">
                <label for="import" class="block mb-2 text-sm font-medium text-gray-900">Exportar</label>
                <button id="excel" class="flex items-center justify-center gap-1 font-bold bg-green-100 hover:bg-green-200 rounded-lg cursor-pointer text-green-700 py-1 px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" aria-hidden="true" viewBox="0 0 48 48">
                        <path fill="#169154" d="M29,6H15.744C14.781,6,14,6.781,14,7.744v7.259h15V6z"></path><path fill="#18482a" d="M14,33.054v7.202C14,41.219,14.781,42,15.743,42H29v-8.946H14z"></path><path fill="#0c8045" d="M14 15.003H29V24.005000000000003H14z"></path><path fill="#17472a" d="M14 24.005H29V33.055H14z"></path><g><path fill="#29c27f" d="M42.256,6H29v9.003h15V7.744C44,6.781,43.219,6,42.256,6z"></path><path fill="#27663f" d="M29,33.054V42h13.257C43.219,42,44,41.219,44,40.257v-7.202H29z"></path><path fill="#19ac65" d="M29 15.003H44V24.005000000000003H29z"></path><path fill="#129652" d="M29 24.005H44V33.055H29z"></path></g><path fill="#0c7238" d="M22.319,34H5.681C4.753,34,4,33.247,4,32.319V15.681C4,14.753,4.753,14,5.681,14h16.638 C23.247,14,24,14.753,24,15.681v16.638C24,33.247,23.247,34,22.319,34z"></path><path fill="#fff" d="M9.807 19L12.193 19 14.129 22.754 16.175 19 18.404 19 15.333 24 18.474 29 16.123 29 14.013 25.07 11.912 29 9.526 29 12.719 23.982z"></path>
                    </svg> EXCEL <div id="cargaExcel"></div>
                </button>
            </div>
        </div>
        <div style="height: 34em;" class="relative overflow-y-auto overflow-x-auto bg-white border border-gray-300 rounded-lg">
            <table class="text-sm overflow-x-auto text-left text-gray-500 rtl:text-right">
                <thead id="hdInv" style="top: 0" class="sticky w-full top-0 text-xs text-gray-700 uppercase bg-gray-50">
                </thead>
                <tbody id="listaInv">
                </tbody>
            </table>
            <div id="cargando" class="w-screen mt-6 flex flex-col px-6 py-3 w-full items-center justify-center">
                <img src="/static/img/icono.ico" alt="Ícono de Admin" class="iconos carga">
                <span class="font-medium text-md">Cargando...</span>
            </div>
        </div>
        <nav class="w-full flex items-center w-full flex-column flex-wrap md:flex-row justify-between pt-4 px-6 mb-6" aria-label="Table navigation">
            <span class="text-sm font-normal text-gray-500 mb-4 mx-4 md:mb-0 block w-full md:inline md:w-auto">Listado <span id="rango" class="font-semibold text-gray-900">0 - 0</span> de <span class="font-semibold text-gray-900" id="total">0</span></span>
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm mx-4 h-8">
                <li id="previo">
                    <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Anterior</a>
                </li>
                <li id="siguiente">
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Siguiente</a>
                </li>
            </ul>
        </nav>
        <h2  class="copyright w-full flex gap-2 justify-center items-center">Copyright © 2025 por Dpto.Sistemas   <img src="{{ url_for('static', filename='img/icono.ico') }}" galt="Ícono de Admin" class="iconos">Plasdecor de Montería S.A.S. - Todos los Derechos Reservados</h2>
    </div>

    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="{{ url_for('static', filename='js/inventarios.js') }}"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('select').select2();
        });
        
    </script>
</body>
</html>
