<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectores</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/static/img/icono.ico" type="image/x-icon">
</head>
<body>
    <div id="connection-status">No hay conexión a Internet</div>
    <main class="contenedor">
        <section class="izq">
            <div class="pink">
                <div class="p-blue"></div>
                <div class="p-pink"></div>
            </div>
            <div class="blue"></div>
            <div id="img" class="img">
                <img id="imagenP" class="imagenP op-0" onerror="this.onerror=null; this.src='/static/img/ProductosRaiz/noimage.jpg';" src="" alt="">
            </div>
        </section>
        <!-- <section class="video">
            <video id="vid" class="campoVideo"  type="video/mp4" autoplay muted playsinline preload autobuffer>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </section> -->
        <section class="der flex justify-center items-center">
            <img class="logo flex justify-center items-center" src="{{ url_for('static', filename='img/Logo.png') }}" alt="">
            <div id="descripcion" class="des flex justify-center items-center sombra">CONSULTA EL PRECIO AQUÍ</div>
            <div id="precio" class="precio flecha flex justify-end items-center sombra">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="none"><style>@keyframes flipping{0%{transform:rotate3d(1,1,0,0deg)}to{transform:rotate3d(1,1,0,180deg)}}</style><g style="animation:flipping 1.5s cubic-bezier(.96,-.2,0,1.29) both infinite alternate-reverse"><path fill="#BA0F5A" fill-rule="evenodd" d="M5.71 11.025a5.25 5.25 0 1010.5 0 5.25 5.25 0 00-10.5 0zm5.25-7a7 7 0 100 14 7 7 0 000-14z" clip-rule="evenodd"/><rect width="1.839" height="3.677" x="16.139" y="17.375" fill="#317FBF" rx=".2" transform="rotate(-45 16.14 17.375)"/></g></svg>
            </div>
            <div class="grid grid-cols-2 px-3 sombra mx-auto w-11/12 gap-2">
                <div id="info" class="info flex flex-col gap-4 items-start justify-center down">
                    <p>CÓDIGO: <span id="codigo" class="txt"></span></p>
                    <p>P.L.U: <span id="precioculto" class="txt"></span></p>
                    <p>U.E: <span id="ue" class="txt"></span></p>
                </div>
                <div id="tabInv" style="text-shadow: none;" class="hidden flex flex-col rounded-lg w-80 drop-shadow-md shadow-blue-300 relative items-center justify-center overflow-x-none">
                    <h4 class="font-bold font-sx">Inventario Actual</h4>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-100 ">
                            <tr>
                                <th scope="col" class="px-1 text-center py-1 rounded-s-lg">
                                    BD
                                </th>
                                <th scope="col" class="px-1 py-1">
                                    NOMBRE
                                </th>
                                <th scope="col" class="px-1 py-1 text-center rounded-e-lg">
                                    DISPONIBLES
                                </th>
                            </tr>
                        </thead>
                        <tbody id="inv">
                        </tbody>
                    </table>
                </div>
                
            </div>
        </section>
        <input id="codBarras" type="text" name="codBarras" autocomplete="off" style="opacity: 0; position: absolute; left: 0; z-index: 0;">

        
    </main>
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lectores.js') }}"></script>
    <script>
        function updateOnlineStatus() {
            const statusDiv = document.getElementById('connection-status');
            if (!navigator.onLine) {
                // Si no hay conexión
                statusDiv.style.display = 'block';
            } else {
                // Si hay conexión
                statusDiv.style.display = 'none';
            }
        }

        // Detectar cambios en la conexión
        window.addEventListener('online', updateOnlineStatus);
        window.addEventListener('offline', updateOnlineStatus);

        // Comprobar el estado inicial de la conexión
        updateOnlineStatus();
    </script>
</body>
</html>